{% extends 'base.html' %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'allcoaches' %}">Coaches</a></li>
    {#  <li class="breadcrumb-item active">{{ field.name }}</li>#}
{% endblock %}

{% block content %}

    <div class="mb-4">
        <a href="{% url 'new_coach' %}" class="btn btn-primary">New Coach</a>
    </div>

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for coach in coaches %}
            <tr>
                <td>
                    <a href="{% url 'coaches' coach.pk %}">{{ coach.firstName }} {{ coach.lastName }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}