{% extends 'base.html' %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'allfields' %}">Fields</a></li>
    {#  <li class="breadcrumb-item active">{{ field.name }}</li>#}
{% endblock %}

{% block content %}

    <div class="mb-4">
        <a href="{% url 'new_field' %}" class="btn btn-primary">New Field</a>
    </div>

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Field</th>
            <th>Description</th>
            <th>League</th>
        </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            <tr>
                <td>
                    <a href="{% url 'fields' field.pk %}">{{ field.name }}</a>
                    <small class="text-muted d-block">{{ field.description }}</small>
                </td>
                <td class="align-middle">{{ field.description }}</td>
                {#                <td class="align-middle">{{ field.league }}</td>#}
                <td>
                    {% for league in field.league.all %}
                        <a href="{% url 'leagues' league.pk %}">{{ league.name }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}