{% extends 'base.html' %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'allteams' %}">Games</a></li>
    {#  <li class="breadcrumb-item active">{{ field.name }}</li>#}
{% endblock %}

{% block content %}

    {#    <div class="mb-4">#}
    {#        <a href="{% url 'new_team' %}" class="btn btn-primary">New Team</a>#}
    {#    </div>#}

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            {#            <th>Team 1</th>#}
            {#            <th>Team 2</th>#}
            <th>Game</th>

        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>
                    {{ game.pk }} {{ game }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}