{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'allleagues' %}">Leagues</a></li>
{#  <li class="breadcrumb-item active">{{ field.name }}</li>#}
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_league' %}" class="btn btn-primary">New League</a>
  </div>

<table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>League</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for league in leagues %}
            <tr>
                <td>
                    <a href="{% url 'leagues' league.pk %}">{{ league.name }}</a>
                    <small class="text-muted d-block">{{ league.description }}</small>
                </td>
                <td class="align-middle">{{ league.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}