{% extends 'base.html' %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'alldivisions' %}">Divisions</a></li>
    <li class="breadcrumb-item active">{{ division.name }}</li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>League</th>
        </tr>
        </thead>
        <tbody>
        {#        {% for field in fields %}#}
        <tr>
            <td>
                {{ division.name }}
                <small class="text-muted d-block">{{ division.description }}</small>
            </td>
            <td class="align-middle">{{ division.description }}</td>
            <td class="align-middle">{{ division.league }}</td>

        </tr>
        {#        {% endfor %}#}
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>League</th>
            <th>Division</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>
                    <a href="{% url 'teams' team.pk %}">{{ team.name }}</a>
                    <small class="text-muted d-block">{{ team.description }}</small>
                </td>
                <td class="align-middle">{{ team.description }}</td>
                <td class="align-middle">
                    <a href="{% url 'leagues' team.league.pk %}">{{ team.league }}</a>
                </td>
                <td class="align-middle">
                    <a href="{% url 'divisions' team.division.pk %}">{{ team.division }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}