{% extends 'base.html' %}

{% load widget_tweaks %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">League</li>

    {#    <br class="container">League Schedule Maker</br>#}
{% endblock %}

<br class="container">League Schedule Maker</br>

{% block content %}



    {#    <input id="slider1" type="range" value="3" min="1" max="20" step="1"/>#}
    {##}
    {#    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
    {#    <link rel="stylesheet" href="/resources/demos/style.css">#}
    {#    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    {#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
    {#    <script>#}
    {#        $(function () {#}
    {#            $("#slider-range").slider({#}
    {#                range: false,#}
    {#                min: 0,#}
    {#                max: 20,#}
    {#                values: [2],#}
    {#                slide: function (event, ui) {#}
    {#                    $("#amount").val(ui.values[0]);#}
    {#                }#}
    {#            });#}
    {#            $("#amount").val($("#slider-range").slider("values", 0));#}
    {#        });#}
    {#    </script>#}
    {#    <script>#}
    {#        $(".selector").slider({#}
    {#            slide: function (event, ui) {#}
    {#            }#}
    {#        });#}
    {#        $(".selector").on("slide", function (event, ui) {#}
    {#        });#}
    {#    </script>#}
    {#    <p>#}
    {#        <label for="amount">Max Late Games</label>#}
    {#        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">#}
    {#    </p>#}

    {#    <div id="slider-range"></div>#}

    <table class="table">
        <td>
            <div class="mb-4">
                <a href="{% url 'settings' %}" class="btn btn-primary">Scheduler Settings</a>
            </div>
            <div class="mb-4">
                <a href="{% url 'reset_games' %}" class="btn btn-primary">Reset Schedule</a>
            </div>
            {#            <div class="mb-4">#}
            {#                <a href="{% url 'gen_games' %}" class="btn btn-primary">Generate Games</a>#}
            {#            </div>#}
            <div class="mb-4">
                <a href="{% url 'schedule_games' %}" class="btn btn-primary">Schedule Games</a>
            </div>

            <div class="mb-4">
                <a href="{% url 'stats' %}" class="btn btn-primary">Stats</a>
            </div>

            <div class="mb-4">
                <a href="{% url 'import_all' %}" class="btn btn-primary">Import All</a>
            </div>
        </td>
        <td>
            {#            <form method="post" novalidate>#}
            {#                {% csrf_token %}#}
            {##}
            {#                {% for field in form %}#}
            {#                    <div class="form-group">#}
            {#                        {{ field.label_tag }}#}
            {##}
            {#                        {% render_field field class="form-control" %}#}
            {##}
            {#                        {% if field.help_text %}#}
            {#                            <small class="form-text text-muted">#}
            {#                                {{ field.help_text }}#}
            {#                            </small>#}
            {#                        {% endif %}#}
            {#                    </div>#}
            {#                {% endfor %}#}
            {##}
            {#                <button type="submit" class="btn btn-success">Post</button>#}
            {#            </form>#}
            <form method="post">
                {% csrf_token %}
                <table border="1">
                    {{ form }}
                </table>
                <input type="submit" value="Submit">
            </form>
        </td>

    </table>

    <table class="table">
        <tr>
            <td>Games Unscheduled: {{ numGamesUnscheduled }}</td>
        </tr>
        <tr>
            <td>Slots Unscheduled: {{ numSlotsUnscheduled }}</td>
        </tr>
        <tr>
            <td>Optimization Score: {{ totalScore }}</td>
        </tr>
    </table>
    {{ df | safe }}
{% endblock %}