{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">League</li>
{% endblock %}

{% block content %}
{#    <table class="table">#}
{#        <tr>#}
{#            <td>#}
{#                <table class="table">#}
{#                    <thead class="thead-inverse">#}
{#                    <tr>#}
{#                        <th>Team</th>#}
{#                        <th>Description</th>#}
{#                        <th>League</th>#}
{#                        <th>Division</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for team in teams %}#}
{#                        <tr>#}
{#                            <td>#}
                                {#                    {{ team.name }}#}
{#                                <a href="{% url 'teams' team.pk %}">{{ team.name }}</a>#}
{#                                <small class="text-muted d-block">{{ team.description }}</small>#}
{#                            </td>#}
{#                            <td class="align-middle">{{ team.description }}</td>#}
{#                            <td class="align-middle">{{ team.league }}</td>#}
{#                            <td class="align-middle">{{ team.division }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </td>#}
{#            <td>#}
{#                <table>#}
{#                    </tr>#}
{#                    <tr>#}
                        {#    </table>#}
{##}
                        {#    <table class="table">#}
{#                        <thead class="thead-inverse">#}
{#                        <tr>#}
{#                            <th>Field</th>#}
{#                            <th>Description</th>#}
{#                            <th>League</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        {% for field in fields %}#}
{#                            <tr>#}
{#                                <td>#}
{#                                    {{ field.name }}#}
{#                                    <small class="text-muted d-block">{{ field.description }}</small>#}
{#                                </td>#}
{#                                <td class="align-middle">{{ field.description }}</td>#}
                                {#                <td class="align-middle">{{ field.league }}</td>#}
{#                                <td>#}
{#                                    {% for league in field.league.all %}#}
{#                                        {{ league.name }}#}
{#                                    {% endfor %}#}
{#                                </td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                </table>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}

    <div class="mb-4">
        <a href="{% url 'reset_games' %}" class="btn btn-primary">Reset Games</a>
    </div>
    <div class="mb-4">
        <a href="{% url 'gen_games' %}" class="btn btn-primary">Generate Games</a>
    </div>
    <div class="mb-4">
        <a href="{% url 'schedule_games' %}" class="btn btn-primary">Schedule Games</a>
    </div>

    <div class="mb-4">
        <a href="{% url 'stats' %}" class="btn btn-primary">Stats</a>
    </div>

        <table class="table">
    <tr>
        <td>Games Unscheduled: {{ numGamesUnscheduled }}</td>
        </tr>
        <tr>
        <td>Slots Unscheduled: {{ numSlotsUnscheduled }}</td>
    </tr>
    </table>
    {{ df | safe }}
{% endblock %}